<!-- <link rel='stylesheet' href='/css/video.css' /> -->
<% layout('layout/pattern') -%>

<div class="container" style="width:700px;">
  <form action="/addNewVideo" method="POST" name="addNewVideoForm">
    <div class="form-group">
      <label for="linkOnVideo_720">Ссылка на ролик (720)</label>
      <input type="text" name="link_720" class="form-control" id="linkOnVideo_720" placeholder="Ссылка на ролик">
    </div>
    <div class="form-group">
      <label for="linkOnVideo_240">Ссылка на ролик (240)</label>
      <input type="text" name="link_240" class="form-control" id="linkOnVideo_240" placeholder="Ссылка на ролик">
    </div>
    <label for="categoryVideo">Категория</label>
    <div class="form-group">
      <select class="form-control" id="categoryVideo" name="category" required>
        <option>Vine</option>
        <option>Long</option>
      </select>
    </div>
    <div class="form-group">
      <label for="timeVideo">Длительность ролика (учитываются только минуты: если ролик 3:45, то писать 3)</label>
      <input class="form-control" type="number" name="time" id="timeVideo" placeholder="Длительность ролика" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <div class="help-block">
      <span class="error"></span>
    </div>
  </form>
</div>


  <h3 style="text-align:center; margin-top:50px">Все ролики</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Ссылка (720)</th>
        <th scope="col">Ссылка (240)</th>
        <th scope="col">Длительность</th>
        <th scope="col">Категория</th>
        <th class="empty"></th>
      </tr>
    </thead>
    <% for (var i=0; i< videos.length; i++) { %>
      <tbody>
        <tr>
          <th scope="row"><%=i+1%></th>
          <td>
               <% if (videos[i].link_720 != undefined) { %>
                 <a href="<%=videos[i].link_720%>" target="_blank"><%=videos[i].link_720%></a>
              <% } %>
               </td>
          <td>
              <% if (videos[i].link_240 != undefined) { %>
            <a href="<%=videos[i].link_240%>" target="_blank"><%=videos[i].link_240%></a>
              <% } %>
          </td>
          <td><%=videos[i].time%></td>
          <td><%=videos[i].category%></td>
          <form action="/deleteVideo/id<%=videos[i].id%>" method="POST" name="deleteVideoForm">
            <td class="delete"><button class="btn btn-danger">Удалить</button></td>
          </form>
        </tr>
      </tbody>
      <% } %>
    </table>
  </div>

  <script>
  var form = $('form[name="addNewVideoForm"]');

  form.submit(function(e) {
    e.preventDefault();
    var link_720 = $("input[name='link_720']").val();
    var link_240 = $("input[name='link_240']").val();
    var time = $("input[name='time']").val();
    var category = $("select[name='category']").val();

    if(link_720.length == 0 && link_240.length == 0) {
      alert("Нужно заполнить хотя бы 1 ссылку");
      return 0;
    }

    $.ajax({
      type: "POST",
      url: "/addNewVideo",
      data: JSON.stringify({link_720: link_720, link_240: link_240, time: time, category:category}),
      dataType: "json",
      contentType: "application/json",
      statusCode:{
        200: function(){
          form.trigger('reset'); // очистить поля формы
          $('.error', form).html('');
          window.location.reload(); // после AJAX пагинации убрать, т.к надо отрисовывать еще при добавлении
        },
        403: function(){
          $('.error', form).html('Видео с такой ссылкой уже существует: Ролик 720: ' + link_720 + '; Ролик 240: ' + link_240);
        }
      }
    });
  });
</script>

<!-- <script>
var form = $('form[name="deleteVideoForm"]');

form.submit(function(e) {
e.preventDefault();

console.log(form);
alert(form);
$.ajax({
type: "POST",
url: "/deleteVideo/id:idTag"
data: JSON.stringify({idTag: idTag}),
dataType: "json",
contentType: "application/json",
statusCode:{
200: function(){
$('.error', form).html('');
window.location.reload(); // после AJAX пагинации убрать, т.к надо отрисовывать еще при добавлении
},
403: function(){
$('.error', form).html('Видео с такой ссылкой уже существует: ' + idTag);
}
}
});
});
</script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
