<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
 <!-- <link rel="stylesheet" href="/css/header.css">
 <link rel="stylesheet" href="/css/footer.css"> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 </head>
 <body>

  <header>
    <%-blocks.header%>
    <%-partial('../partials/header')%>
  </header>
  <%-partial('../partials/topHorisontalMenu')%>
  <%-body -%>

  <footer>
    <%-blocks.footer%>
    <%-partial('../partials/footer')%>
  </footer>

 </body>

 <script src="/js/confirmDelete.js"></script>
</html>
